body {
background-color: #EAF6F6;
}
h1 {
color: #66BFBF;
}
h3 {
color: #66BFBF;
}
hr {
border-style: dotted none none none;
width: 5%;
border-width: 8px;
border-color: grey;
}
img {
height: 180px;
}
td {
text-align: center
}